# --- Julia ---
*.jl.cov
*.jl.mem
*.ji
*.so
*.dll
*.dylib

# Julia package/build artifacts
Manifest.toml
deps/
docs/build/

# Simulations results
results*/

# Serialization of variables
*.jld2
*.bin

# Outputs of simulations on clusters
*.out
*.err

# --- LaTeX ---
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.spl
*.synctex.gz
*.toc
*.vrb

# Latexmk
latexmkrc

# PDF output
*.pdf
!**/figures/**

# --- Editors / OS ---
.#*
*~
*.swp
.DS_Store
.vscode
Thumbs.db